*.o
msdscript
msdscript0
msdscript1
msdscript2
msdscript3
msdscript4
msdscript5
msdscript6
msdscript7
test_msdscript
url.txt
*.zip
/.idea
.DS_Store
/.vscode
/cmake-build-debug
/cmake-build-debug-coverage
CMakeLists.txt
